
.tripsList-container {
    margin: 0;
    background-color: rgb(255, 255, 255, .9);
    width: 550px;
    justify-content:center;
    text-align: center;
    color: rgb(40, 40, 40);
    border-radius: 0.5rem;
    position: relative;
    color: rgba(27, 206, 209);
    list-style-position: inside;
    
  }
  
.tripsList-title {
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    padding: 16px 0;
}

.tripsList-box {
    border: 2px;
    flex-direction: column;
    justify-content: space-between;
}

.item-box {
    border: 2px;
    padding: 8px 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;

}

.name-box {
    justify-content: start;
}

.bnt-div{
    gap: 0.5rem;
}
.newTrip-btn {
    box-sizing: content-box;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(250, 164, 14, 0.2)orange;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.15);
    transition: all 0.3s ease 0s;
    color: black;
    align-items: center;
}

  
.newTrip-btn:hover {
      background-color:rgba(250, 164, 14, 0.5);
      transition: all 0.3s ease 0s;
    }

.edit-btn {
    color: green;
    text-align: center;
    /* border: 1px lighten(gray, 24%); */
    width: 50px;
    letter-spacing: .30px;
    border-radius: 10px;
}

.edit-btn:hover {
    background-color: lighten(green, 48%); 
}

.remove-btn-btn {
    color: red;
    text-align: center;
    /* border: 1px lighten(gray, 24%); */
    width: 50px;
    letter-spacing: .30px;
    border-radius: 10px;
}

.remove-btn-btn:hover {
    background-color: lighten(red, 48%); 
}

/* ul {
    list-style-position: inside;
} */

