.nav {
    background-color: rgba(27, 206, 209);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: .8rem;
    align-items: center;
    box-shadow: 0 0 0 6px rgb(0 0 0 / 10%);
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.logo-container {
    display: flex;
    gap: .5rem;
    align-items: center;
    font-family: 'Pacifico', cursive;
}


.logo {
    width: 50px;
    border-radius: 50px;

}

a {
    text-decoration: none;
}

li:hover {
    color: rgba(250, 164, 14, 0.5);
    
}

.out {
  font-size: 16px;
  text-decoration: none;
  padding: 5px 15px;
  background-color: rgba(15, 228, 232, 0.671);
  transition: all 0.3s ease 0s;
  border-radius: 50px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.15);
}

.out:hover {
    background-color:rgba(250, 164, 14, 0.5);
    transition: all 0.3s ease 0s;
  }